body{
  background: #fffff0;
}

.one{
  width: auto;
  height: auto;
  padding: 5px;

}

.one{
  background: #fff;
}

.IBOY{
  width: auto;
  margin: 8px 8px;
  background: #fff;
  border-radius: 10px;
}

.IBOY img{
  width: 300px;
  margin-bottom: 15px;
}


.Flash{
  width: auto;;
  margin: 8px 8px;
  background: #fff;
  border-radius: 10px;
}

.Flash img{
  width: 280px;
  margin-bottom: 3px;
  margin-bottom : 13px;
}


me{
  background-color: #fff;
  padding: 10px;
  width: 90%;
  margin: 0 auto;
  border-radius: 6px;
}

.one h1{
  font-size: 50px;

}

.hr{
  color: #fff;
}

.me h5{
  margin-bottom: 3px;
  margin-top: 20px；
}

.me h3{
  margin-bottom: 2px；
}

